<html>
    <head>
        <title>Jake's Youtube to MP3</title>
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://localhost:5000/css/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
        <script src="https://malsup.github.com/jquery.form.js"></script>
        <script src="js/page-actions.js"></script>
        <script src="js/user-actions.js"></script>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Ready music</h2>
                    {% for ready in music %}
                    <div class="row">
                        <div class="col-md-7">
                            <a href="/music/{{ ready.VideoID }}.mp3?title={{ ready.VideoTitle }}.mp3">
                                {{ ready.VideoTitle }}
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- <div class="row">
                        <div class="col-md-7">Video url</div>
                    </div>

                    <div class="row">
                        <div class="col-md-7">Video url</div>
                    </div>

                    <div class="row">
                        <div class="col-md-7">Video url</div>
                    </div> -->
                </div>
            </div>

            
            <div class="row">
                <div class="col-md-12">
                    <h2>Syncing playlists</h2>
                    <a href="#" onclick="addPlaylist()">Add</a>
                    <a href="#" onclick="updatePlaylists()">Save</a>
                    <div id="saved-message" class="saved-message">
                        Saved!
                    </div>
                    <div id="playlists">
                        <div class="row hidden" id="playlist-hidden">
                            <div class="col-md-7">
                                <label for="Playlist"></label>
                                <input type="text" id="playlist-hidden-url" class="form-control">
                            </div>
                            <div class="col-md-2"><a href="#" onclick="removePlaylist('playlist-hidden')">Remove</a></div>
                        </div>

                        {% for playlist in playlists %}
                        <div class="row" id="playlist-{{ playlist.PlaylistID }}">
                            <div class="col-md-7">
                                <label for="Playlist"></label>
                                <input type="text" id="playlist-{{ playlist.PlaylistID }}-url" class="form-control" value="{{ playlist.URL }}">
                            </div>
                            <div class="col-md-2"><a href="#" onclick="removePlaylist('playlist-{{ playlist.PlaylistID }}')">Remove</a></div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>